.dropdown-menu {
    background: red;
    width: 150px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: #000;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: crimson;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}
