*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categorias{
    /*background: #0f0f0f;*/
    background: url(../images/fondo_categorias.svg) no-repeat center center/cover;
    width: 100%;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}


@media screen and (max-width: 960px) {
    .categorias{
        display: flex;
        flex-direction: column;
    }
}