
.notfound{
/*    background: #0f0f0f;*/
    background: url('../images/fondo_notfound.svg')no-repeat center center/cover;
height: 90vh;
    text-align: center;
    color: #fff;
}

.notfound .number{
    width: 70%;
    margin:  auto;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 350px;
}
.notfound .number p{
    font-size: 250px;
}

.primero{
    animation: primero 2s ease-in-out 1s infinite alternate;
}

.segundo{
    animation: segundo 2s ease-in-out 2s infinite alternate;
}

.tercero{
    animation: tercero 2s ease-in-out 3s infinite alternate;
}


@keyframes primero {
    100%{
        color: crimson;
    }
}
@keyframes segundo {
    100%{
        color: crimson;
    }
}
@keyframes tercero {
    100%{
        color: crimson;
        
    }
}


.notfound h1{
    font-size: 50px;
    margin: 20px 0;
}

.notfound p{
    font-size: 20px;
    margin: 20px 0;
}

.notfound .notfound_boton_back {
    font-size: 20px;
    background-color: crimson;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 250px;
    margin: 20px auto;
    color: #fff;
    transition: all 0.3s ease;
}

.notfound .notfound_boton_back_link {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.notfound .notfound_boton_back:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.2);
    font-weight: bold;
}


@media screen and (max-width: 960px) {

    .notfound .number p{
        font-size: 150px;
    }

    .text{
        font-size: 50px;
    }
}