* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.content_me {
  /*background: #0f0f0f;*/
  background: url(../images/fondo_sobremi.svg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content_me .content_me__info {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.info__me {
  font-size: 20px;
}

.info__me .datos {
  margin: 20px;
}

.info__me .datos p {
  font-weight: 500;
  margin: 3px;
}

.info__me .datos p:nth-child(1) {
  font-size: 55px;
}

.info__me .datos p:nth-child(1) span {
  color: crimson;
  font-weight: bold;
}

.red_social {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.red_social .icon a {
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.red_social .icon a:hover {
  color: crimson;
  transform: rotate(20deg);
}

.imagen_me {
  display: flex;
  align-items: center;

}

.imagen_me img {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 650px) {
  .content_me .content_me__info {
    display: flex;
    flex-direction: column;
  }

  .info__me .datos p:nth-child(1) {
    font-size: 55px;
    text-align: center;
  }

  .red_social {
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .red_social div {
    margin: 10px 0;
    text-align: center;
  }
}