
.categorias__card{
    margin: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 10px;
    border-radius: 15px;
    height: 100px;

}

.categorias__icon{
    font-size: 50px;    
    display: flex;
    text-align: center;
    align-items: center;
    color: crimson;
}

.categorias__info{
    padding: 0 20px;
    width: 100%;
    transition: all .3s ease-out;
}

.categorias__info:hover{
    transform: scale(0.9);
}

.categorias__titulo{
    font-weight: bold;
    margin: 10px;
}

.categorias__descripcion{
    font-weight: 300;
}