@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background: url(../images/ccode.jpg)no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 100%;
  margin: auto;
  color: #fff;
  
}

.inicio{
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
}

.inicio_cont .inicio_info {
  text-align: center;
}

.inicio_cont .inicio_info .titulo h1{
  margin:10px auto;
  font-size: 50px;
}
.inicio_cont .inicio_info .titulo h2 {
  margin:10px auto;
  font-size: 30px;
  font-weight: 100;
}

.inicio_cont .inicio_info .titulo h1 span{
  color: crimson;
}

.titulo {
  width: 90%;
  margin:  auto;
}

.typescript {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: crimson;
  font-weight: bold;  
}


@media screen and (max-width: 960px) {
  .typescript {
    color: crimson;
    font-weight: bold;
  }
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }
}
